// Custom.scss
// Option B: Include parts of Bootstrap
// Required
$primary: #ff0036 !default; //小红书的主题红色
$secondary: #2990dc !default; //支付宝主题蓝色
$success: #f4f4f4 !default;
$light: #e8cd56 !default;
$dark: #e95420 !default;
$input-bg: #c34113;
$input-border-color: #c34113;
$input-placeholder-color: #ccc;
$input-color: #fff;
$jumbotron-bg: rgb(247, 247, 247);
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
// Optional
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/images';
@import 'node_modules/bootstrap/scss/code';
@import 'node_modules/bootstrap/scss/grid';
